/* #region "./src/render.module.css" */
/*
- type: css/auto
*/
.rspack-repro-_src_render_module_css-columnCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rspack-repro-_src_render_module_css-root {
    
    max-width: 1280px;
}

.rspack-repro-_src_render_module_css-root.rspack-repro-_src_render_module_css-main {
    background-color: #000;
    color: #fff;
}
/* #endregion "./src/render.module.css" */

