.rspack-repro-_src_render_module_css-columnCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rspack-repro-_src_render_module_css-root {
    composes: columnCenter;
    max-width: 1280px;
}

.rspack-repro-_src_render_module_css-root.rspack-repro-_src_render_module_css-main {
    background-color: #000;
    color: #fff;
}
head{--webpack-rspack-repro-src_render_js:columnCenter:rspack-repro-_src_render_module_css-columnCenter/root:rspack-repro-_src_render_module_css-root/main:rspack-repro-_src_render_module_css-main/\.\/src\/render\.module\.css;}